<div id="main">
    <div class="palm-page-header">
        <div class="palm-page-header-wrapper">
            <div class="icon"></div>
            <div class="title">Settings</div>
        </div>
    </div>

    <div class="palm-list">
        <div class="palm-row first">
            <div class="palm-row-wrapper">
                <div x-mojo-element="Spinner" id="enabled-spinner" class="hidden"></div>
                <div x-mojo-element="ToggleButton" id="enabled"></div>
                <div class="title left">Swap wallpaper</div>
            </div>
            <div class="palm-row-wrapper">

                <div class="palm-group">
                    <div class="palm-group-title">Selected wallpaper</div>
                    <div class="palm-list">
                        <div x-mojo-element="List" id="selected-wallpaper"></div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
